<ion-view view-title="Imprint">
  <ion-content>
    <pre>
      M-Way Solutions GmbH

      Volker Hahn, Geschäftsführer
      Richard Malley, Geschäftsführer

      Stresemannstraße 79
      70191 Stuttgart
      Deutschland

      T: +49 (0) 711 25254 - 60
      F: +49 (0) 711 25254 - 70

      E: info@mwaysolutions.com
      W: www.mwaysolutions.com

      Sitz und Registergericht
      Stuttgart HRB 25158
      UST-ID: DE240271880
      Steuernummer: 99043/02990
    </pre>
  </ion-content>
</ion-view>
