<ion-view view-title="Search" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="item-input-inset">
    <button class="button button-clear" ng-click = "goBack()">
      <i class="icon ion-android-arrow-back placeholder-icon" ></i>
    </button>
    <label class="item-input-wrapper">
      <input type="search" ng-model = "txt_search" placeholder = "Search tweets" ng-keypress = "searchTweets()">
    </label>
    <button class="button button-clear" ng-click = "emptySearch()">
      <i class="icon ion-ios-close-empty placeholder-icon" ></i>
    </button>
    <button class="button button-icon button-clear ion-android-more-vertical" ng-click="openPopover($event)">
    </button>
  </ion-header-bar>
  <ion-content class = "has-header padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="searchRefresh()"></ion-refresher>
    <div ng-show="resultsData.statuses.length == 0">Loading tweets...</div>
    <ion-list>
      <ion-item ng-repeat = "result in resultsData.statuses">
       <div class="row">
        <div class="col">
          <a href = "#" ng-click="openBrowser(result.user.url)"><img src = "{{result.user.profile_image_url}}"/></a>
        </div>
        <div class="col col-75">
          <div class = "name"><a href = "#" ng-click="openBrowser(result.user.url)">{{result.user.name}}</a></div>
          <div class = "scree-name date">
            <a href = "#" ng-click="openBrowser(result.user.url)">@{{result.user.screen_name}}</a> - <span am-time-ago="result.created_at" ></span>
          </div>
        </div>
      </div>
      <pre>{{result.text}}</pre>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
