<ion-view view-title="Tweets" >
  <ion-content class = "has-header padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
    <button class="button button-stable bar bar-header bar-stable" ng-click = "getLocation()">
      Trends nearby
    </button>
    <ion-list>
      <ion-item ng-repeat = "tweet in tweetsData" ng-if = "tweet.entities.hashtags[0].text != 'undefined'" >
        # {{tweet.text}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
